<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        {{>header}}
        {{errorMessage}}
        <p>Create by {{name}}</p>
        
    </body>
</html> 