<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
        <body>
            {{>header}}
            <p>This site was created using mapbox and weather-stack services.</p>
            <p>Create by {{name}}</p>
            <img src="/images/Self.jpeg">
        </body>
</html>