<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
        <body>
            {{>header}}
            <p>This is a help file.</p>
            <p>{{name}}</p>
        </body>
    
</html>